#my-dashboard {
  display: none;

  &.display {
    display: flex;
  }

  > .pane {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > table {
      border-spacing: 1rem;
    }

    > ul.link-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      > li {
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
        border: 0.06125rem solid #000;
        border-radius: 0.5rem;

        &:not(.big) > * {
          display: none;

          &.longUrl {
            display: initial;
          }
        }
      }
    }
  }
}
