header {
  > .navbar {
    display: flex;
    padding: 1rem 0.5rem;
    border-bottom: 0.125rem solid #000;

    > .center {
      flex-grow: 1;
      justify-content: center;
    }

    > * {
      display: flex;

      > * {
        padding: 0 0.5rem;
      }
    }
  }
}
