@use "reset";
@use "header";
@use "auth";
@use "dashboard";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  max-width: 50rem;
  width: 80vw;
}

.openDashboard,
.openAuthScreen {
  cursor: pointer;
}

.hide {
  display: none;
}

#urlInput {
  max-width: fit-content;
  margin: auto;
}

#shortUrlContainer {
  display: flex;
  max-width: 30rem;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  border: 0.125rem solid #000;
  border-radius: 0.5rem;
  color: #444;
  gap: 1rem;

  > span {
    flex-grow: 1;
    align-content: center;
    overflow: auto hidden;
    white-space: nowrap;
  }

  > img {
    max-width: 2rem;
    border: 0.06125rem solid #000;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}

.floating {
  position: absolute;
  width: 100vw;
  height: 100vh;

  .bgShadow {
    height: inherit;
    width: inherit;
    background-color: #000000c0;
    position: absolute;
  }

  .pane {
    margin: auto;
    max-width: max-content;
    position: relative;
    padding: 2rem;
    background-color: #fff;
    z-index: 1;

    .closePane {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
    }
  }
}
