@use "reset";
@use "auth";
@use "header";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  max-width: 50rem;
  width: 80vw;
}

.openAuthScreen {
  cursor: pointer;
}

.hide {
  display: none;
}

#urlInput {
  max-width: fit-content;
  margin: auto;
}

#shortUrlContainer {
  display: flex;
  max-width: 30rem;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  border: 0.125rem solid #000;
  border-radius: 0.5rem;
  color: #444;
  gap: 1rem;

  > span {
    flex-grow: 1;
    align-content: center;
    overflow: auto hidden;
    white-space: nowrap;
  }

  > img {
    max-width: 2rem;
    border: 0.06125rem solid #000;
    border-radius: 0.5rem;
    cursor: pointer;
  }
}
